# ================================
# API CONFIGURATION
# ================================
API_BASE_URL=https://reqres.in/
API_KEY=your_api_key_here


# ================================
# UI APPLICATION CONFIGURATION
# ================================
UI_BASE_URL=https://opensource-demo.orangehrmlive.com/
VALID_USERNAME=insert_username_here
VALID_PASSWORD=insert_password_here